<!-- <ng-container *ngIf="type == 'web'"> -->
<app-header *ngIf="!(type == 'FlutterWebView')"></app-header>
<!-- </ng-container> -->
<section class="blog-page" style="padding-top: 0px !important;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="blog-details news-slid">
                    <div class="news-text">
                        <div class="blog-hover">
                            <h4>Refund Policy</h4>
                        </div>
                        <div>
                            <span style="font-size: 15px;">
                                <span style="color: rgb(89, 89, 89);">
                                    <strong>
                                        <span data-custom-class="subtitle">Last updated November 15, 2020</span>
                                    </strong>
                                </span>
                            </span>
                        </div>
                        <!-- <div class="MsoNormal" style="line-height: 1.1;">
                            <span style="font-size: 15px;">
                                <span
                                    style="line-height: 115%; font-family: Roboto, sans-serif; color: rgb(89, 89, 89);"><br>
                                </span>
                            </span>
                        </div>
                        <div>
                            <span
                                style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89);">Thank
                                you for your purchase. We hope you are happy with your purchase. However, if you are not
                                completely satisfied
                                with your purchase for any reason, you may return it to us for a full refund or an
                                exchange.
                                Please see below for more information on our return policy.</span>
                        </div> -->
                    </div>
                    <!-- <div class="news-text">
                        <div class="blog-hover">
                            <h4>Returns</h4>
                        </div>
                        <span style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89);">
                            All returns must be postmarked within one (1) days of the purchase date. All returned items
                            must be in new and unused condition, with all original tags and labels attached.
                        </span>
                    </div> -->
                    <!-- <div class="news-text">
                        <div class="blog-hover">
                            <h4>Return Process</h4>
                        </div>
                        <span style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89);">
                            To return an item,
                            cuemeglobal@gmail.com to obtain a Return Merchandise Authorization
                            (RMA)
                            number.
                            After receiving a RMA number,
                            place the item securely in its original packaging and include your proof of purchase, and
                            mail your return to the following address:
                        </span>
                        <div class="MsoNormal" style="line-height: 1.1;">
                            <span style="font-size: 15px;">
                                <span
                                    style="line-height: 115%; font-family: Roboto, sans-serif; color: rgb(89, 89, 89);"><br>
                                </span>
                            </span>
                        </div>
                        <div>CueME</div>
                        <div>Attn: Returns</div>
                        <div>RMA #</div>
                        <div>Plot No. 5&6, Industrial Estate, Surat-Bardoli Old Highway, Bardoli - 394601, DIST - Surat,
                            Gujarat, India</div>
                        <div>Bardoli, Gujarat 394601 </div>
                        <div>India </div>
                        <div class="MsoNormal" style="line-height: 1.1;">
                            <span style="font-size: 15px;">
                                <span
                                    style="line-height: 115%; font-family: Roboto, sans-serif; color: rgb(89, 89, 89);"><br>
                                </span>
                            </span>
                        </div>
                        <div>Return shipping charges will be paid or reimbursed by us. </div>

                    </div> -->
                    <div class="pt-0 news-text">
                        <!-- <div class="blog-hover">
                            <h4>Refunds</h4>
                        </div> -->
                        <span style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89);">
                            After receiving your return and inspecting the condition of your item, we will process your
                            return or exchange. Please allow at least three (3) days from the receipt of your item to
                            process your return or exchange. We will notify you by email when your return has been
                            processed.
                        </span>
                        <div class="MsoNormal" style="line-height: 1.1;">
                            <span style="font-size: 15px;">
                                <span
                                    style="line-height: 115%; font-family: Roboto, sans-serif; color: rgb(89, 89, 89);"><br>
                                </span>
                            </span>
                        </div>
                        <span style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89);">
                            For defective or damaged products, please contact us at the customer service number below to
                            arrange a refund or exchange.
                        </span>
                    </div>
                    <div class="news-text">
                        <div class="blog-hover">
                            <h4>Questions</h4>
                        </div>
                        <div>
                            <span
                                style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89);">
                                If you have any questions concerning our refund policy, please contact us at:
                            </span>
                        </div>
                        <!-- <div>
                            <span
                                style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89);">
                                9313808188
                            </span>
                        </div> -->
                        <div>
                            <span
                                style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89);">
                                support@cueme.com
                            </span>
                        </div>
                        <div style="color: #595959;font-size: 14px;font-family: Arial;padding-top:16px;">
                            This refund policy was created using
                            <a style="color: rgb(48, 48, 241) !important;"
                                href="https://termly.io/products/refund-return-policy-generator/?ftseo">
                                Termly’s Return and Refund Policy Generator</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <ng-container *ngIf="type == 'web'"> -->
<!-- <app-contact-us></app-contact-us> -->
<app-footer *ngIf="!(type == 'FlutterWebView')"></app-footer>
<!-- </ng-container> -->