<!-- Feature section -->
<section class="theme-bg feature" id="feature">
   <div class="container">
      <div class="animation-circle-inverse">
         <i></i>
         <i></i>
         <i></i>
      </div>
      <div class="row">
         <div class="col-md-12 text-center">
            <div class="section-title">
               <h2 class="text-white">CueME Features</h2>
               <img src="assets/images/white-line.png" alt="white-line" class="img-fluid">
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="future-box">
               <div class="future-timeline">
                  <ul>
                     <li class="timeline">
                        <h4 class="sub-title">Easy Installation</h4>
                        <p></p>
                     </li>
                     <li class="timeline">
                        <h4 class="sub-title">Multi Platform Sports App</h4>
                        <p></p>
                     </li>
                     <li class="timeline">
                        <h4 class="sub-title">Play pool anytime anywhere</h4>
                        <p></p>
                     </li>
                     <li class="timeline">
                        <h4 class="sub-title">Improve your skill level</h4>
                        <p></p>
                     </li>
                     <li class="timeline">
                        <h4 class="sub-title">Play with live video</h4>
                        <p></p>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-md-4 future-mobile">
            <img src="assets/images/feature-mob.png" alt="feature-mob" class="img-fluid">
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="future-box">
               <div class="future-timeline-right">
                  <ul class="text-left">
                     <li class="timeline-right">
                        <h4>Practicing drills, coaching, and teaching</h4>
                        <p></p>
                     </li>
                     <li class="timeline-right">
                        <h4>Single-elimination, double-elimination tournaments</h4>
                        <p></p>
                     </li>
                     <li class="timeline-right">
                        <h4>Messaging</h4>
                        <p></p>
                     </li>
                     <li class="timeline-right">
                        <h4>Online shopping for billiards equipment</h4>
                        <p></p>
                     </li>
                     <li class="timeline-right">
                        <h4>Play in a tournament anywhere.</h4>
                        <p></p>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- end Feature section -->