<!-- faq section -->
<!-- <section class="faq " id="faq">
   <div class="container">
      <div class="row">
         <div class="col-md-12 text-center">
            <div class="section-title">
               <h2>Frequently asked Questions</h2>
               <img src="assets/images/title-line.png" alt="title-line" class="img-fluid">
            </div>
         </div>
      </div>
      <div class="row faq-row">
         <div class="col-lg-12">
            <div class="accordion" id="accordionExample">
               <div class="card mb-3" *ngFor="let faq of faqS;let i=index">
                  <div class="card-header" id="heading{{i}}">
                     <h5 class="mb-0">
                        <button class="faq-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + i"
                           aria-expanded="false" [attr.aria-controls]="'#collapse' + i">
                           {{i+1}} {{faq.questions}}
                           <i class="fa fa-angle-down pull-right"></i>
                        </button>
                     </h5>
                  </div>

                  <div id="collapse{{i}}" class="collapse" aria-labelledby="heading{{i}}" data-parent="#accordionExample">
                     <div class="card-body">
                        {{faq.answers}}
                     </div>
                  </div>
               </div> -->
               <!-- <div class="card mb-3">
                  <div class="card-header" id="headingOne">
                     <h5 class="mb-0">
                        <button class="faq-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           02 Sedeiusmod tm inccsetetur ?
                           <i class="fa fa-angle-down pull-right"></i>
                        </button>
                     </h5>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                     <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore
                     </div>
                  </div>
               </div>
               <div class="card mb-3">
                  <div class="card-header" id="headingTwo">
                     <h5 class="mb-0">
                        <button class="faq-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           03 Sedeiusmod inc aliquatraiy?
                           <i class="fa fa-angle-down pull-right"></i>
                        </button>
                     </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                     <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore
                     </div>
                  </div>
               </div>
               <div class="card">
                  <div class="card-header" id="headingThree">
                     <h5 class="mb-0">
                        <button class="faq-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           04 Tempor inc aliquatraiy?
                           <i class="fa fa-angle-down pull-right"></i>
                        </button>
                     </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                     <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore
                     </div>
                  </div>
               </div> -->
            <!-- </div>
         </div> -->
         <!-- <div class="col-lg-6 text-center">
            <img src="assets/images/faq.png" class="img-fluid" alt="">
         </div> -->
      <!-- </div>
   </div>
</section> -->
<!-- end faq section -->