<section class="work" id="work">
   <div class="container">
      <div class="row">
         <div class="col-md-8 offset-md-2 text-center">
            <div class="section-title">
               <h2>How CueME App Works</h2>
               <img src="assets/images/title-line.png" alt="white-line" class="img-fluid">
               <p>CueME is the world's best billiards app to find people to play in person or virtually at any level of
                  competition for singles, doubles, and tournaments. Play anyone anywhere from around the world with the
                  CueME video, scoring, and ranking technology. As you play, you will win CueME chips with wins and
                  accomplishments for recognition and prizes</p>
            </div>
         </div>
      </div>
      <div class="process-box">
         <div class="row">

            <div class="col-lg-6">
               <div class=" text-center">
                  <img src="assets/images/icon/1.png" alt="" />
               
               <h3>Download App</h3></div>

            </div>

            <div class="col-lg-6">
               <div class="text-center">
                  <div class="download-img work-img">
                     <ul>
                        <li class="d-block"><a href="https://play.google.com/store/apps/details?id=com.cueme.cueme" target="_blank"><img
                                 src="assets/images/app1.png" alt="foot-app" class="img-fluid" data-tilt
                                 data-tilt-perspective="50" data-tilt-speed="350" data-tilt-max="1.8" style="height: auto!important;"></a></li>
                        <li class="d-block"><a href="https://apps.apple.com/us/app/cueme-global/id1556180769#?platform=ipad" target="_blank"><img
                                 src="assets/images/app2.png" alt="foot-app1" class="img-fluid" data-tilt
                                 data-tilt-perspective="50" data-tilt-speed="350" data-tilt-max="1.8" style="height: auto!important;"></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</section>