<div class="page-wrapper">
    <div class="auth-bg">
        <div class="authentication-box">
            <div class="text-center"><img src="assets/images/logo.png" alt=""></div>
            <div class="card mt-4">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Forgot Password</h4>
                    </div>
                    <form class="theme-form" #ForgotPasswordForm="ngForm">
                        <div class="form-group">
                            <input class="form-control" type="text" id="email" name="email" placeholder="Email"
                                [(ngModel)]="email" #EmailID="ngModel"
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                            <div *ngIf="EmailID.invalid && (EmailID.dirty || EmailID.touched)"
                                class="text text-danger mt-1">
                                Email is required
                            </div>
                            <div *ngIf="EmailID.touched && EmailID.hasError('pattern')" class="text text-danger mt-1">
                                Invalid Email
                            </div>
                        </div>
                        <div class="form-group form-row mt-3 mb-0">
                            <button class="btn btn-primary btn-block btn-lg" [disabled]="!ForgotPasswordForm.valid"
                                (click)="sendResetPasswordMail(ForgotPasswordForm)" type="submit"><span>Send Mail</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>