<!-- download section -->
<section class="download-bg" style="margin-top:70px">
   <div class="container">
      <div class="row">
         <div class="col-xl-2 display-flex">
         </div>
         <div class="col-xl-6 display-flex">
            <div class="download-text">
               <h3>Download the CueME app and enjoy it</h3>
            </div>
         </div>
         <div class="col-xl-4 display-flex">
            <div class="download-img">
               <ul>
                  <li><a href="https://play.google.com/store/apps/details?id=com.cueme.cueme" target="_blank"><img
                           src="assets/images/app1.png" alt="foot-app" class="img-fluid" data-tilt
                           data-tilt-perspective="50" data-tilt-speed="350" data-tilt-max="1.8"></a></li>
                  <li><a href="https://apps.apple.com/us/app/cueme-global/id1556180769#?platform=ipad" target="_blank"><img
                           src="assets/images/app2.png" alt="foot-app1" class="img-fluid" data-tilt
                           data-tilt-perspective="50" data-tilt-speed="350" data-tilt-max="1.8"></a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- end download section -->