<nav class="navbar navbar-expand navbar-light bg-light ">
    <a class="navbar-brand" [routerLink]="'/home'" href="#home" pageScroll><img src="assets/images/logo.png" alt="logo"
        style="height: 40px;width: 40px;vertical-align: sub !important;"><span
        style="color: rgb(7, 7, 7);font-size:28px">&nbsp;CueME</span></a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style= "background: #f8f9fa;">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="btn-theme" [routerLink]="'/subscribe'" href="#subscribe">Sign In <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
<div class="page-wrapper">
    <div class="auth-bg">
        <div class="authentication-box">
            <div class="text-center"><img style="height:200px;" src="assets/images/logo.png" alt=""></div>
            <div class="card mt-4">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Sign Up</h4>
                    </div>
                    <form class="theme-form" #LoginForm="ngForm">
                        <div class="form-group">
                            <label class="col-form-label pt-0">First name</label>
                            <input class="form-control" type="text" id="firstName" name="firstName" placeholder="First name"
                                [(ngModel)]="firstName" #FName="ngModel" required>
                            <!-- pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" -->
                            <div *ngIf="FName.errors?.required && FName.touched" class="text text-danger mt-1">
                                First Name is required
                            </div>
                            <!-- <div *ngIf="Email.touched && Email.hasError('pattern')" class="text text-danger mt-1">
                                Invalid Email
                            </div> -->
                        </div>
                        <div class="form-group">
                            <label class="col-form-label pt-0">Last Name</label>
                            <input class="form-control" type="text" id="lastName" name="lastName" placeholder="Last Name"
                                [(ngModel)]="lastName" #LName="ngModel" required>
                            <!-- pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" -->
                            <div *ngIf="LName.errors?.required && LName.touched" class="text text-danger mt-1">
                                Last Name is required
                            </div>
                            <!-- <div *ngIf="Email.touched && Email.hasError('pattern')" class="text text-danger mt-1">
                                Invalid Email
                            </div> -->
                        </div>
                        <div class="form-group">
                            <label class="col-form-label pt-0">Email</label>
                            <input class="form-control" type="text" id="email" name="email" placeholder="Email"
                                [(ngModel)]="emailId" #Email="ngModel" required>
                            <!-- pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" -->
                            <div *ngIf="Email.errors?.required && Email.touched" class="text text-danger mt-1">
                                Email is required
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label pt-0">Contact</label>
                            <input class="form-control" type="text" id="contact" name="contact" placeholder="Contact"
                                [(ngModel)]="contact" #Contact="ngModel" required>
                            <!-- pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" -->
                            <div *ngIf="Contact.errors?.required && Contact.touched" class="text text-danger mt-1">
                                Contact number is required
                            </div>
                            <!-- <div *ngIf="Email.touched && Email.hasError('pattern')" class="text text-danger mt-1">
                                Invalid Email
                            </div> -->
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Password</label>
                            <input class="form-control" type="password" id="password" name="password"
                                placeholder="Password" [(ngModel)]="password" #Pass="ngModel" required>
                            <div *ngIf="Pass.errors?.required && Pass.touched" class="text text-danger mt-1">
                                Password is required
                            </div>
                        </div>
                        <!-- <div class="checkbox p-0">
                            <input id="checkbox1" type="checkbox">
                            <label for="checkbox1">Remember me</label>
                        </div> -->
                        <div class="form-group form-row mt-3 mb-0">
                            <button class="btn btn-primary btn-block btn-lg" [disabled]="!LoginForm.valid"
                                (click)="signup(LoginForm)" type="submit"><span>Signup</span>
                            </button>
                        </div>
                        <!-- <div class="login-divider"></div> -->
                        <!-- <div class="social mt-3">
                            <div class="form-group btn-showcase d-flex">
                                <button class="btn social-btn btn-fb d-inline-block" (click)="loginFacebook()">
                                    <i class="fa fa-facebook"></i>
                                </button>
                                <button class="btn social-btn btn-twitter d-inline-block" (click)="loginTwitter()">
                                    <i class="fa fa-twitter"></i>
                                </button>
                                <button class="btn social-btn btn-google d-inline-block" (click)="loginGoogle()">
                                    <i class="fa fa-google"></i>
                                </button>
                            </div>
                        </div> -->
                    </form>
                    <!-- <div style="padding-top: 15px;">
                        <a [routerLink]="['/forgotpassword']">Forgot your password?</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>