<!-- <ng-container *ngIf="type == 'web'"> -->
<app-header *ngIf="!(type == 'FlutterWebView')"></app-header>
<!-- </ng-container> -->
<section class="blog-page" style="padding-top: 0px !important;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="blog-details news-slid">
                    <div class="news-text">
                        <div class="blog-hover">
                            <h2>How to Redeem a Promo Code on your iPhone</h2>
                        </div>
                        <p>
                            Here is a simple step-by-step instruction of how to redeem your fresh promo code and get the
                            app for free from Apple’s App Store. All you need is the promo code and your Apple ID with
                            the password.
                        </p>
                        <div class="row pb-5">
                            <div class="col-lg-12">
                                <div class="blog-hover">
                                    <h4>Step 1: Open the App Store</h4>
                                </div>
                                <p>
                                    Find the App Store icon on your home screen and open it.
                                </p>
                            </div>
                            <!-- <div class="col-lg-6">
                                <img src="../../assets/images/ss/17.png" style="height:300px">
                            </div> -->
                        </div>
                        <div class="row  pb-5">
                            <div class="col-lg-12">
                                <div class="blog-hover">
                                    <h4>Step 2: Tap on your profile</h4>
                                </div>
                                <p>
                                    Your profile icon may look a bit different (maybe it’s a beautiful picture of you).
                                    Anyways,
                                    please tap on it.
                                </p>
                            </div>
                            <!-- <div class="col-lg-6">
                                <img src="../../assets/images/ss/17.png" style="height:300px">
                            </div> -->
                        </div>
                        <div class="row  pb-5">
                            <div class="col-lg-12">
                                <div class="blog-hover">
                                    <h4>Step 3: Tap on Redeem Gift Card or Code</h4>
                                </div>
                                <p>
                                    Right after you have tapped on “Redeem Gift Card or Code” you need to sign in with
                                    your
                                    Apple ID. Enter the password and proceed to step 4.
                                </p>
                            </div>
                            <!-- <div class="col-lg-6">
                                <img src="../../assets/images/ss/17.png" style="height:300px">
                            </div> -->
                        </div>
                        <div class="row  pb-5">
                            <div class="col-lg-12">
                                <div class="blog-hover">
                                    <h4>Step 4: Tap to enter the code</h4>
                                </div>
                                <p>
                                    Now tap on the button “You can also enter your code manually.” and enter the promo
                                    code. Now
                                    give it a few seconds as the App Store validates your entered code.
                                </p>
                            </div>
                            <!-- <div class="col-lg-6">
                                <img src="../../assets/images/ss/17.png" style="height:300px">
                            </div> -->
                        </div>
                        <div class="row  pb-5">
                            <div class="col-lg-12">
                                <div class="blog-hover">
                                    <h4>Step 5: Sit back, relax and open the app</h4>
                                </div>
                                <p>
                                    If the entered promo code was fine, the app store will automatically start to
                                    download and
                                    install the app.
                                </p>
                                <p> When everything is finished, you can open the app right away.</p>
                            </div>
                            <!-- <div class="col-lg-6">
                                <img src="../../assets/images/ss/17.png" style="height:300px">
                            </div> -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <ng-container *ngIf="type == 'web'"> -->
<!-- <app-contact-us></app-contact-us> -->
<app-footer *ngIf="!(type == 'FlutterWebView')"></app-footer>
<!-- </ng-container> -->