<!-- about section-->
<section id="about" class="about">
   <div class="about-chat">
      <div class="container ">
         <div class="row">
            <div class="col-md-12 text-center">
               <div class="section-title">
                  <h2>About CueME</h2>
                  <img src="assets/images/title-line.png" alt="title-line" class="img-fluid">
               </div>
            </div>            
            <div class="col-md-12">
               <div class="chat-slide">
                  <h3>Play anyone anywhere from around the world with the CueME video, scoring, and ranking technology</h3>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- end about section  -->