<div class="page-wrapper">
  <div class="">
    <div class="authentication-box" style="width: auto;max-width: 460px;" *ngIf="isValidateToken">
      <div class="mt-4">
        <div class="text-center card mt-4">
          <div class="card-body" style="padding: 0px !important;">
            <div style="">
              <button class="btn btn-primary d-inline" (click)="redirectToSubscriptionList()" type="submit"><span
                  style="font-family: sans-serif;;">Select Subscription</span>
              </button>
            </div>
          </div>
        </div>
        <div class="text-center card">
          <div class="card-body">
            <ngx-stripe-card-group [formGroup]="stripeTest" [elementsOptions]="elementsOptions">
              <input type="text" class="form-control  form-control-sm mt-2" name="cardNumber"
                formControlName="cardNumber" OnlyInteger maxlength="16" placeholder="1234 1234 1234 1234" />
              <input type="text" class="form-control  form-control-sm mt-2" style="width:30%;display: inline;"
                name="cardMonth" formControlName="cardMonth" OnlyInteger maxlength="2" placeholder="MM" />
              <input type="text" class="form-control  form-control-sm mt-2"
                style="width: 32%;margin-left: 10px;display: inline;" name="cardYear" formControlName="cardYear"
                OnlyInteger maxlength="2" placeholder="YY" />
              <input type="text" class="form-control  form-control-sm mt-2"
                style="width: 32%;margin-left: 10px;display: inline;" name="cardCVC" formControlName="cardCVC"
                OnlyInteger maxlength="3" placeholder="CVC" />
              <input type="text" class="form-control  form-control-sm mt-2" name="cardName" formControlName="cardName"
                placeholder="Card Holder Name" />
              <!-- <input  name="amount" formControlName="amount" /> -->
              <!-- <ngx-stripe-card-number [options]="cardOptions"></ngx-stripe-card-number>
              <ngx-stripe-card-expiry [options]="cardOptions"></ngx-stripe-card-expiry>
              <ngx-stripe-card-cvc [options]="cardOptions"></ngx-stripe-card-cvc> -->
              <div>
                <span class="mt-2" style="float: left;font-family: sans-serif;;">
                  do you want to save this card?
                </span>
                <span class="mt-1" style="float: right;">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" name="isSave" formControlName="isSave">
                    <label class="custom-control-label" for="customSwitch1"></label>
                  </div> 
                </span>
              </div>
              <div>
                <span class="mt-2" style="float: left;font-family: sans-serif;;">
                  do you want to set autopayment for this card?
                </span>
                <span class="mt-1" style="float: right;">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" name="isSubscribe" formControlName="isSubscribe">
                    <label class="custom-control-label" for="customSwitch1"></label>
                  </div> 
                </span>
              </div>
              <div class="form-group mb-0 text-center">
                <button class="btn-theme" (click)="pay()" type="submit" style="margin-top:20px; margin-right:10%">
                   Continue</button>
             </div>
            </ngx-stripe-card-group>

          </div>
        </div>
      </div>
    </div>
    <!-- <div class="authentication-box" *ngIf="!isValidateToken">
      <div class="text-center">
        <span style="color:#ff0000;font-size:24px;font-family: sans-serif;;">Your session is invalid Or expired!</span>
      </div>
    </div> -->
  </div>
</div>